*{
    margin: 0px;
}

body{
    display: grid;
    grid-template-columns: 5% 20% 70% 5%; 
    grid-template-rows: 1fr auto;
    grid-gap:30px 120px;

}

.header { 
    display:flex;
    background-color:green;
    color:#fff;
    padding: 15px 20px;
    justify-content: center;
    grid-row: 1;
    grid-column: 1/5;
}


.box{
    padding: 20px 150px;
    text-align: center;
    border: 1px solid white;
}

.contact{
    padding: 10px;
}

.socialM{
    padding: 10px;
}

.sidebar{
    background-color: lightgray; 
    grid-column: 2/3;
    align-content: center;
    text-align: left;
    min-width: 200px;
    max-width: 200px;
}

img{
    border-radius: 50%;
    margin: 30px;
    max-width: 70%;
    max-height: 50%;
}

.mainContent{
    grid-column: 3/5;
    text-align: left;
    overflow: hidden;
}