*{
    margin: 0px;
}

body{
    display: grid;
    grid-template-columns: 40% 50% 10%; 
    grid-template-rows: 1fr auto;

}

.header { 
    display:flex;
    background-color:green;
    color:#fff;
    padding: 15px 20px;
    justify-content: center;
    grid-row: 1;
    grid-column: 1/4;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 30px;
}


.box{
    text-align: center;
    border: 1px solid white;
    padding: 20px 150px;
}

.contact{
    border-bottom: 3px black solid; 

    align-self: center;
    padding: 20px 20px;
    margin: 10px;
}

.socialM{
    padding: 20px 20px;
    margin: 10px;
}

ul{
    list-style-type: none;
}

.sidebar{
    background-color: lightgray; 
    grid-column: 1/2;
    align-content: center;
    text-align: left;
    margin-left: 300px; 
    max-width: 250px;
    min-width: 200px;
}

.bio{
    border-bottom: 3px grey solid;
}

.exp{
    border-bottom: 3px grey solid;
    padding-top: 40px;
    padding-bottom: 40px;
}

.edu{
    border-bottom: 3px grey solid;
    padding-top: 40px;
    padding-bottom: 40px;
}

.skill{
    padding-top: 40px;

}

@media (max-width: 1350px) {
    .sidebar {
        display: none;
    }
}

img{
    border-radius: 50%;
    margin: 30px;
    max-width: 200px;
    max-height: 200px;
    align-self: center;
}

.mainContent{
    grid-column: 2/3;
}